{% assign images = site.url |  append:  '/' | append: site.baseurl | append: '/assets/img/customers' %}

<div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Learn</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Practice</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Practice</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Test</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Repeat</a>
                </div>
            </div>
        </div>
    </div>